body {
    height: 100%;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    background: linear-gradient(135deg,  #99aaa0 0%,#d197b3 33%,#e5c2c4 65%,#76588c 100%) center center / cover fixed; /* W3C */
}
body>.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}



.page-sidebar,
.page-content {
    transition: all 0.5s ease;
    color: #fff;
}
.page-sidebar {
    position: fixed;
    height: 100%;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    background: linear-gradient(to bottom,  #b26cab 0%,#765c8b 100%); /* W3C */
}
.page-sidebar,
.sidebar-nav>li {
    width: 275px;
}
.page-sidebar.toggled {
    width: 0;
}
.page-content {
    padding-left: 300px;
}
.page-content.toggled {
    padding-left: 25px;
}
.page-content.toggled .toggle-btn {
    opacity: 1;
}
.page-content:not(.toggled) .toggle-btn {
    opacity: 0;
}
.toggle-btn {
    cursor: pointer;
}
.page-header {
    font-size: 24px;
    margin: 0;
    padding: 40px 0px 0px 20px;
}
.page-header,
.page-header>span {
    line-height: 32px;
    height: 75px;
}
.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar-nav>li.sidebar-brand span {
    float: right;
    padding-right: 10px;
}
.sidebar-nav>li:not(.sidebar-brand) {
    padding: 10px 15px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    background: transparent;
    clear: both;
}
.sidebar-nav>li.selected,
.sidebar-nav>li:not(.sidebar-brand):hover {
    background: #fff;
    color: #000;
}
.sidebar-nav>li:not(.sidebar-brand):not(.selected):hover {
    cursor: pointer;
}
.page-content:not(.toggled) .toggle-btn {
    opacity: 0;
}

.page-loading {
    background: rgba(2, 2, 2, 0.5);
    z-index: 10002;
    width: 100%;
    height: 100%;
    position: absolute;
}
.page-loading>.loading-animation {
    margin: auto;
    top: 50%;
    zoom: 4;
}
.no-scroll-mode {
    position: fixed;
}



#notification-area {
    width: calc(100% - 50px);
    border: 1px solid;
    min-height: 100px;
    position: absolute;
    border-radius: 10px;

    font-size: 72px;
    z-index: 1;
    text-align: center;
    font-style: italic;
}
#notification-area>.notification-control {
    float: right;
    margin: 10px;
    font-size: 24px;
}
#notification-area>.notification-control:hover {
    font-weight: bolder;
    cursor: pointer;
}
#modal-area {
    color: #000;
}
#modal-area h4,
#modal-area label {
    text-transform: uppercase;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.pagination-area {
    text-align: center;
}


div#debug-area .page-header {
    display: inherit;
}