{% extends '@App/blocks/body.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/_controller.js'
    '@AppBundle/Resources/public/js/battle.prototype.js'
    '@AppBundle/Resources/public/js/player.prototype.js'
    '@AppBundle/Resources/public/js/battlefield.prototype.js'
    '@AppBundle/Resources/public/js/cell.prototype.js'
    '@AppBundle/Resources/public/js/cell.container.prototype.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="col-md-12" id="battle-area" data-turn-link="{{ path('worldstores/battleship/turn') }}"
                                            data-start-link="{{ path('worldstores/battleship/start') }}">
        Shitty JS don't work!!!
    </div>
    <div class="col-md-12" id="debug-area">

    </div>
{% endblock %}