services:
    # Models
    battleship_game.service.game_result_model:
        class: EM\GameBundle\Model\GameResultModel
        arguments:
            - "@battleship_game.repository.game_result"
            - "%battleship_game.setting.limits.per_page.game_results%"
    # Game Builders
    battleship_game.service.game_builder:
        class: EM\GameBundle\Service\GameSystem\GameBuilder
        arguments:
            - "@em.foundation_bundle.model.player"
    # Game Processors
    battleship_game.service.game_processor:
        class: EM\GameBundle\Service\GameSystem\GameProcessor
        arguments:
            - "@battleship_game.service.ai_core"
    # AI
    battleship_game.service.ai_core:
        class: EM\GameBundle\Service\AI\AIService
        arguments:
            - "@battleship_game.service.ai_strategy"
    battleship_game.service.ai_strategy:
        class: EM\GameBundle\Service\AI\AIStrategyService
        arguments:
            - "@battleship_game.service.ai_strategy_processor"
    battleship_game.service.ai_strategy_processor:
        class: EM\GameBundle\Service\AI\AIStrategyProcessor
    # Repositories
    battleship_game.repository.game_result:
        class: EM\GameBundle\Repository\GameResultRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - EM\GameBundle\Entity\GameResult
    # Validators
    battleship_game.validator.game_initiation_request:
        class: EM\GameBundle\Validator\GameInitiationRequestValidator
        arguments:
            - "%battleship_game.setting.game_size.min%"
            - "%battleship_game.setting.game_size.max%"
            - "%battleship_game.setting.opponents_count.min%"
            - "%battleship_game.setting.opponents_count.max%"
