imports:
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name_test%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  "%database_encoding%"
#       for SQLite Only
#        path:     "%kernel.cache_dir%/sqlite.db.cache"
