parameters:
    database_encoding: UTF8
    database_host: 127.0.0.1
    database_port: 3306
    database_user: root
    database_password: ~
# MYSQL / MariaDB
    database_driver: pdo_mysql
## SQLite
#    database_driver: pdo_sqlite
#    database_port: 3306
## PostgreSQL
#    database_driver: pdo_pgsql
#    database_port: 5432
## ######## prod DB
    database_name: symfony_game_live
## ######## test DB
    database_name_test: symfony_game_test

#    database_path: "%kernel.cache_dir%/sqlite.db.cache"
    database_path: ~
    secret: df9407f9746333d83748c24bcc65255304069b6d
