parameters:
    database_encoding: UTF8
### PostgreSQL
#    database_host: 127.0.0.1
#    database_port: 5432
#    database_user: postgres
#    database_password: ~
#    database_driver: pdo_pgsql
#    database_path: ~
## MySQL|MariaDB
    database_host: 127.0.0.1
    database_port: 3306
    database_user: root
    database_password: ~
    database_driver: pdo_mysql
    database_path: ~
### SQLite
#    database_host: ~
#    database_port: ~
#    database_user: ~
#    database_password: ~
#    database_driver: pdo_sqlite
#    database_path: "%kernel.cache_dir%/sqlite.db.cache"

    database_name: symfony_battleship_game
    database_name_test: symfony_battleship_game_test

    secret: df9407f9746333d83748c24bcc65255304069b6d
