{% extends '@App/blocks/layout.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="page-sidebar">
            {% include '@App/blocks/sidebar.html.twig' %}
        </div>
        <div class="page-content">
            <div class="page-header">
                <span class="toggle-btn glyphicon glyphicon-menu-hamburger"></span>
                <span class="page-section-title"> xxxx  xxxx  xxxx  xxxx  xxxx  xxxx </span>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}