<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <div class="page-header">
            <span class="toggle-btn glyphicon glyphicon-menu-hamburger"></span>
            Battleship Game
        </div>
    </li>
    <li data-section="game-play">
        play
    </li>
    <li data-section="game-stats">
        statistics
    </li>
</ul>
