.battlefield-cell {
    height: 32px;
    width: 32px;
    padding: 0;
    opacity: 1;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
}

.battlefield-cell-container {
    display: flex;
}

.battlefield-cell-container:not(:first-child):not(:last-child) > .battlefield-cell[data-coordinate]:not(:first-child):not(:last-child) {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.battlefield-cell-container:not(:first-child):not(:last-child) > .battlefield-cell[data-coordinate]:nth-last-child(2) {
    border-right: 1px solid #000;
}

.battlefield-cell-container:nth-last-child(2) > .battlefield-cell[data-coordinate]:not(:first-child):not(:last-child) {
    border-bottom: 1px solid #000;
}

.battlefield-cell[data-flags="0"]:hover {
    background: rgba(225, 255, 255, 0.75);
    cursor: pointer;
}

.history-element[data-flags="0"],
.battlefield-cell[data-flags="0"] {
    background: #e1ffff;
}

.history-element[data-flags="1"],
.battlefield-cell[data-flags="1"] {
    background: #1e5799;
}

.history-element[data-flags="2"],
.battlefield-cell[data-flags="2"] {
    background: #000;
}

.history-element[data-flags="3"],
.battlefield-cell[data-flags="3"] {
    background: #6d0019;
}

.history-element[data-flags="5"],
.battlefield-cell[data-flags="5"] {
    background: #556980;
}

.player-area > .player-name {
    font-size: 32px;
}

.player-area {
    margin-top: 25px;
    display: inline-block;
}

.player-area .battlefield-cell:not([data-flags="undefined"]):hover {
    cursor: no-drop;
}

.player-area[data-player-flag="1"] .battlefield-cell:not([data-flags="1"]):not([data-flags="3"]):not([data-flags="4"]):hover {
    cursor: pointer;
}

.player-field div[data-flags="undefined"] {
    opacity: 0.75;
}

div#game-current-area,
div#game-results-area {
    display: inline-block;
    width: 100%;
}

li.history-container {
    margin-top: 75px;
}

li.history-container ul {
    list-style-type: none;
}

li.history-container li {
    font-size: 12px;
    vertical-align: middle;
    margin: 5px 0;
}

li.history-container .history-title {
    display: block;
    text-align: center;
    border-bottom: 1px dashed #fff;
    margin-bottom: 10px;
}

li.history-container .history-element {
    height: 28px;
    width: 28px;
    display: inline-block;
    vertical-align: middle;
}
