
.battlefield-cell-container {
    display: flex;

    &:not(:first-child):not(:last-child) > .battlefield-cell[data-coordinate]:not(:first-child):not(:last-child) {
        border-top: 1px solid #000;
        border-left: 1px solid #000;
    }
    &:not(:first-child):not(:last-child) > .battlefield-cell[data-coordinate]:nth-last-child(2) {
        border-right: 1px solid #000;
    }
    &:nth-last-child(2) > .battlefield-cell[data-coordinate]:not(:first-child):not(:last-child) {
        border-bottom: 1px solid #000;
    }
}

$FLAG_UNDEFINED_FLAG: undefined;

$FLAG_NONE_COLOR: #e1ffff;
$FLAG_NONE_FLAG: 0;

$FLAG_DEAD_COLOR: #1e5799;
$FLAG_DEAD_FLAG: 1;

$FLAG_SHIP_COLOR: #000;
$FLAG_SHIP_FLAG: 2;

$FLAG_SHIP_DEAD_COLOR: #6d0019;
$FLAG_SHIP_DEAD_FLAG: 3;

$FLAG_SKIP_COLOR: #556980;
$FLAG_SKIP_FLAG: 5;

.history-element,
.battlefield-cell {
    &[data-flags="#{$FLAG_NONE_FLAG}"] {
        background: $FLAG_NONE_COLOR;
    }
    &[data-flags="#{$FLAG_DEAD_FLAG}"] {
        background: $FLAG_DEAD_COLOR;
    }

    &[data-flags="#{$FLAG_SHIP_FLAG}"] {
        background: $FLAG_SHIP_COLOR;
    }

    &[data-flags="#{$FLAG_SHIP_DEAD_FLAG}"] {
        background: $FLAG_SHIP_DEAD_COLOR;
    }

    &[data-flags="#{$FLAG_SKIP_FLAG}"] {
        background: $FLAG_SKIP_COLOR;
    }
}

.battlefield-cell {
    height: 32px;
    width: 32px;
    padding: 0;
    opacity: 1;
    font-size: 12px;
    line-height: 32px;
    text-align: center;

    &[data-flags="#{$FLAG_NONE_FLAG}"]:hover {
        background: rgba(225, 255, 255, 0.75);
        cursor: pointer;
    }
}

.player-area {
    margin-top: 25px;
    display: inline-block;

    & > .player-name {
        font-size: 32px;
    }

    .battlefield-cell:not([data-flags="#{$FLAG_UNDEFINED_FLAG}"]):hover {
        cursor: no-drop;
    }

    &[data-player-flag="1"] .battlefield-cell:not([data-flags="#{$FLAG_DEAD_FLAG}"]):not([data-flags="#{$FLAG_SHIP_DEAD_FLAG}"]):hover {
        cursor: pointer;
    }
}

.player-field div[data-flags="#{$FLAG_UNDEFINED_FLAG}"] {
    opacity: 0.75;
}

div#game-current-area,
div#game-results-area {
    display: inline-block;
    width: 100%;
}

li.history-container {
    margin-top: 75px;

    ul {
        list-style-type: none;

        li {
            font-size: 12px;
            vertical-align: middle;
            margin: 5px 0;
        }
    }

    .history-title {
        display: block;
        text-align: center;
        border-bottom: 1px dashed #fff;
        margin-bottom: 10px;
    }

    .history-element {
        height: 28px;
        width: 28px;
        display: inline-block;
        vertical-align: middle;
    }
}
