.loading-animation {
    position: relative;
    width: 57px;

    span {
        animation: loading-animation 1.5s infinite ease-in-out;
        background: #9b59b6;
        bottom: 0;
        display: block;
        height: 5px;
        position: absolute;
        width: 9px;

        &:nth-child(2) {
            animation-delay: .2s;
            left: 11px;
        }

        &:nth-child(3) {
            animation-delay: .4s;
            left: 22px;
        }

        &:nth-child(4) {
            animation-delay: .6s;
            left: 33px;
        }

        &:nth-child(5) {
            animation-delay: .8s;
            left: 44px;
        }

    }
}

@keyframes loading-animation {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}
