{% extends '@Foundation/blocks/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-loading hidden">
            <div class="loading-animation">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="page-sidebar">
            {% include '@Foundation/blocks/sidebar.html.twig' %}
        </div>
        <div class="page-content">
            <div class="page-header">
                <span class="toggle-btn glyphicon glyphicon-menu-hamburger"></span>
                <span class="page-section-title"></span>
            </div>
            <div class="container-fluid">
                <div class="row col-lg-12">
                    <div id="notification-area" class="hidden">
                        <span class="notification-control glyphicon glyphicon-remove"></span>
                        <div class="notification-content"></div>
                    </div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
