<ul class="sidebar-nav">
    <li class="sidebar-brand page-header">
        Battleship Game
        <span class="toggle-btn glyphicon glyphicon-menu-hamburger"></span>
    </li>
    <li data-action="game-new-action">
        game: new
    </li>
    <li data-section="game-current-area">
        game: current
    </li>
    <li data-section="game-results-area">
        game: results
    </li>
    <li class="history-container no-hover">
        <span class="history-title">legend</span>
        <ul class="history-list">
            <li>untouched water <span class="history-element" data-flags="0"></span></li>
            <li>shot water <span class="history-element" data-flags="1"></span></li>
            <li>live ship <span class="history-element" data-flags="2"></span></li>
            <li>dead ship <span class="history-element" data-flags="3"></span></li>
            <li>cell to skip <span class="history-element" data-flags="5"></span></li>
        </ul>
    </li>
</ul>
